**/*~
**/*.log
**/*.backup
nbproject/private/*
users/*
db/*
install/*
doxygen/*
doxygen_sqlite3.db
**/*.o
**/*.so*
**/*.dll
**/*.exe
**/*.a
**/*.gch
**/Makefile
.kdev4*
.settings
.project
.cproject
obelix.sublime-workspace
.DS_Store
*.sln
*.sdf
*.cbp
*.layout
config.h
src/bin/grammar.c
obelix
panoramix
callgrind.out*
CMakeCache.txt
**/CMakeFiles
**/cmake_install.cmake
**/*.vcxproj*
build/*
cygwin/
**/*.dir/*
Win32/*
/MingW64/
/Default/
/msvc/
/codeblocks/
.idea/*
CTestTestfile.cmake
Testing/
bin/
linux/

