**/*~
**/*.log
**/*.backup
nbproject/private/*
users/*
db/*
install/*
doxygen/*
doxygen_sqlite3.db
**/*.o
**/*.so*
**/*.dll
**/*.exe
**/*.a
**/*.gch
**/Makefile
.kdev4*
.settings
.project
.cproject
obelix.sublime-workspace
.DS_Store
*.sln
*.sdf
*.cbp
*.layout
config.h
src/bin/grammar.c
obelix
panoramix
callgrind.out*
CMakeCache.txt
**/CMakeFiles
**/cmake_install.cmake
**/*.vcxproj*
build/*
release/*
cygwin/
cmake-build-debug
**/*.dir/*
Win32/*
/MingW64/
/Default/
/msvc/
/codeblocks/
.idea/*
CTestTestfile.cmake
Testing/
linux/
kdev_build/
.vscode/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

cmake-build-debug/*
cmake-build-debug-gcc-11/*

install/*
test_x/*
share_x/*
config.h
