**/*~
**/*.log
**/*.backup
nbproject/private/*
users/*
db/*
install/*
doxygen/*
doxygen_sqlite3.db
**/*.la
**/*.lo
**/*.o
**/*.so*
**/.libs/*
**/.deps/*
**/*.trs
stamp-h1
libtool
m4/*
config/*
autom4te.cache
**/Makefile.in
**/Makefile
aclocal.m4
.kdev4*
.settings
.project
.cproject
src/bin/grammar.c
obelix
oblcoretest
panoramix
callgrind.out*
config.h
config.status
configure
CMakeCache.txt
**/CMakeFiles
**/cmake_install.cmake
**/*.vcxproj*
msys/*
vc/*
build/*
